@import url('https://fonts.googleapis.com/css?family=Roboto Mono');

.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important;
}
.w3-round-large {
    border-radius: 8px;
}

.w3-blue, .w3-hover-blue:hover {
    color: #fff!important;
    background-color: #EA6A70!important;
}

.w3-container, .w3-panel {
    padding: 0.01em 16px;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    color: #6c6c6c; /* dark grey text color */
}

p {
    line-height: 1.6; /* add more space between lines in a paragraph */
    margin-bottom: 30px; /* between paragraphs */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 5px;
    margin-bottom: 20px;
}

.navbar a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

#home-icon {
    margin-right: 5%;
    height: 40px;
    width: 40px;
}

/* Order the links */
.navbar a:nth-child(2) {
    order: 1;
    padding-left: 55%;
}

.navbar a:nth-child(3) {
    order: 2;
}

.navbar a:nth-child(4) {
    order: 3;
    padding-right: 5%;
}

.navbar img {
    order: 0;
}

/* Specific styling for essays page */
.essays-page ul {
    padding-left: 2%;
}

.essays-page h1 {
    padding-left: 0;
}

.essays-page a {
    text-decoration: none;
    color: red;
}

.writing main {
    width: 45%; /* This will leave 25% on both sides as margins */
    text-align: left;
    margin: auto; /* This centers the main content vertically */
    background-color: white;
}

h2.center {
    padding-top: 20px;
    text-align: center;
}

div.gray-section {
    background-color: #F5F5F5FF;
    border-radius: 5px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    font-size: 16;
}

div.white-section {
    background-color: white;
    border-radius: 5px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    font-size: 16;
}

hr.section-divider {
    border-top: 2px solid #bbb;
    border-radius: 2px;
    width: 90%;
}

a:hover {
    text-decoration: underline;
}

.profile-container {
    display: flex;
    align-items: start;
    gap: 20px;
}

.profile-image {
    height: 300px; /* Half of original size */
    width: 300px; /* Maintain the image as a square to ensure the circular cropping works */
    border-radius: 50%; /* Crop into circle */
    object-fit: cover;
}

.profile-image-book {
    height: 300px; /* Half of original size */
    width: 300px; /* Maintain the image as a square to ensure the circular cropping works */
    object-fit: cover;
}


.profile-text {
    flex-grow: 1;
    padding-right: 5px;
    padding-left: 30px;

}

.drip-form {
    width: 100%;
    
}


main {
    width: 50%; /* This will leave 25% on both sides as margins */
    text-align: left;
    margin: auto; /* This centers the main content vertically */
}



.blog-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.column {
    float: left;
    width: 48%;
    padding: 1%;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

